<center><img src = "/home/chibana/Documents/GitHub/Study_Area/Python/Data_Trading/Modulo1/Imagens/logotipo-trading-com-dados-branco.svg?raw=true" width = "250">

<center><PMF 001.png>

<center><img src = "/home/chibana/Documents/GitHub/Study_Area/Python/Data_Trading/Modulo1/Imagens/PMF 001.png?raw=true" width = "500">

# **Python para Mercado Financeiro**

## Modulo1 - Introducao ao Python

### 0.Hello World!

In [1]:
print("Hello World")

Hello World

Sintaxe

Em lógica, o termo sintaxe refere-se às regras que regem a composição dos textos em uma linguagem formal que constitui as fórmulas bem formadas de um sistema lógico. Ao fornecer uma interpretação, não faz sentido atribuir um significado para textos que não são fórmulas bem formadas.

fonte: https://pt.wikipedia.org/wiki/Sintaxe_(l%C3%B3gica)#:~:text=Na%20ci%C3%AAncia%20da%20computa%C3%A7%C3%A3o%2C%20o,significado%2C%20ou%20fornecer%20uma%20interpreta%C3%A7%C3%A3o.

<center><img src = "/home/chibana/Documents/GitHub/Study_Area/Python/Data_Trading/Modulo1/Imagens/Python-logo.png?raw=true" width = "200">

### 1. Variaveis e Objetos

#### 1.1. Diferenca entre Variaveis e Objetos

In [1]:
9

9

In [2]:
a = 9

In [3]:
print(a)

9

In [4]:
b = 39.78

In [5]:
b

39.78

Chamando a funcao type()

In [6]:
type(a)

int

In [7]:
type(b)

float

**Tipos de variaveis**

* **Integer (int)**
1. Numero de acoes compradas
2. Numero de ordens enviadas
3. Quantidade de papeis analisados
4. Numero de estrategias criadas ou modelos criados

* **Float**
1. Preco de um ativo
2. Valor financeiro do investimento
3. Metricas quantitativas como volatilidade, sharpe, sortino e outras

* **String (str)**
1. Uma manchete de noticia
2. Redes sociais

* **Boolean (bool : True or False)**
1. Verificacao de execucao de ordem
2. Se uma regra fundamentalista foi obdescida para escolher um ativo

In [8]:
num_vale3 = 100

In [9]:
num_vale3

100

In [12]:
num_vale3_02 = 300

In [13]:
num_vale3 + num_vale3_02

400

In [14]:
type(num_vale3 + num_vale3_02)

int

Vamos fazer um exemplo com Strings

In [15]:
manchete = "Vale3 foi o papel que mais subiu hoje"

In [16]:
manchete

'Vale3 foi o papel que mais subiu hoje'

In [17]:
ativo = "LREN3"

In [18]:
ativo

'LREN3'

Como os booleanos funcionam na pratica?

In [19]:
c = 70

In [20]:
a == b

False

In [21]:
a = b

In [22]:
a

39.78

In [23]:
a == b

True

In [24]:
condicao = a == b

In [25]:
condicao

True

### 2. Operadores Aritmeticos

* Soma +
* Subtracao -
* Multiplicacao *
* Divisao /
* Divisao // (Parte inteira)
* Resto das divisoes %
* Potencia **

**Aprendendo com Exercicios**

No momento as acoes de PETR4 estao cotadas a R$37.36 e as de VALE3 a R$60.83 . No mesmo dia voce fez duas aquisicoes: 100 de PETR4 e mais 200 de VALE3. Qual o valor que voce investiu neste dia?

In [26]:
preco_petr4 = 37.36
preco_vale3 = 60.83

In [27]:
num_petr4 = 100
num_vale3 = 200

In [28]:
valor_petr4 = preco_petr4 * num_petr4

In [30]:
valor_vale3 = preco_vale3 * num_vale3

In [31]:
investimento_total = valor_petr4 + valor_vale3

In [35]:
print(investimento_total)

15902.0

Algumas outras possibilidades

Sabendo o valor total investido e o valor da compra de VALE3, quanto foi investindo em PETR4

In [37]:
investimento_total - valor_vale3

3736.0

Sabendo o Valor investido em PETR4 e o numero de acoes compradas, qual era a cotacao de PETR4 no momento da compra?

In [38]:
valor_petr4 / num_petr4

37.36

Suponha que eu tenho R$4000 na carteira. Quantas acoes de VALE3 eu conasigo compra

In [39]:
carteira = 4000

In [40]:
carteira // preco_vale3

65.0

Resto das divisoes

Vamos utilizar os R$4000 da nossa conta de investimentos para aplicar em sua maioria em papeis da VALE3.
Vamos utilizar o que sobrar para comprar algum outro papel mais barato.
Quantas acoes de MGLU3 nos conseguimos comprar?

In [41]:
preco_mglu3 = 1.80

In [44]:
carteira // preco_vale3

65.0

In [45]:
investimento_vale3 = preco_vale3 * 65

In [46]:
sobra = carteira - investimento_vale3

In [47]:
sobra

46.05000000000018

In [48]:
sobra // preco_mglu3

25.0

Forma simplificada

In [49]:
sobra = carteira % preco_vale3

In [50]:
sobra // preco_mglu3

25.0

### 3. Operacoes Logicas

#### 3.1. Operadores Comparativos

* Igualdade ==
* Diferenca !=
* Menor <
* Maior >
* Menor ou igual <=
* Maior ou igual >=

Exemplo: Vamos testar se o investimento feito em PETR4 foi igual ao investimento feito em VALE3.

In [51]:
valor_petr4

3736.0

In [52]:
valor_vale3

12166.0

In [53]:
valor_petr4 == valor_vale3

False

In [54]:
novo_investimento_petr4 = valor_vale3

In [56]:
novo_investimento_petr4 == valor_petr4

False

In [57]:
novo_investimento_petr4 == valor_vale3

True

Para operador de diferenca usamos o mesmo raciocinio

In [58]:
valor_petr4 != valor_vale3

True

Vamos fazer alguns exemplos com os operadores menor e maior

In [59]:
valor_petr4 > valor_vale3

False

In [60]:
novo_investimento_petr4 <= valor_vale3

True

Vamos testar algumas dessas condicoes com textos (strings)

In [61]:
papel01 = 'MGLU3'
papel02 = 'LREN3'

In [62]:
papel01 == papel02

False

In [63]:
papel01 != papel02

True

#### 3.2. Operadores Condicionais

* and (e)
* or (ou)

In [64]:
num_vale3 > num_petr4

True

In [66]:
num_mglu3 = 100
num_lren3 = 50
num_bbsa3 = 200

utilizando o operador 'and'

In [69]:
(num_vale3 > num_petr4) and (num_mglu3 > num_lren3)

True

In [68]:
(num_vale3 > num_petr4) and (num_mglu3 > num_bbsa3)

False

In [70]:
(num_vale3 > num_petr4) and (num_mglu3 > num_lren3) and (num_vale3 > num_lren3)

True

In [71]:
(num_vale3 > num_petr4) & (num_mglu3 > num_lren3) & (num_vale3 > num_lren3)

True

In [72]:
(num_vale3 > num_petr4) & (num_mglu3 > num_bbsa3)

False

Utilizando o operador or

In [73]:
(num_vale3 > num_petr4) or (num_mglu3 > num_lren3)

True

In [74]:
(num_vale3 > num_petr4) or (num_mglu3 > num_lren3) or (num_vale3 > num_lren3)

True

In [76]:
num_vale3 == num_petr4 or num_mglu3 > num_bbsa3

False

In [77]:
num_vale3 == num_petr4 or num_mglu3 != num_bbsa3

True

In [78]:
num_vale3 == num_petr4 | num_mglu3 != num_bbsa3

False

In [79]:
(num_vale3 == num_petr4) | (num_mglu3 != num_bbsa3)

True

Utilizando o operador not

In [80]:
not ((num_vale3 == num_petr4) | (num_mglu3 != num_bbsa3))

False

Operadores de identidade

In [81]:
num_vale3 is num_petr4

False

In [82]:
num_vale3 is not num_petr4

True

### 4. Strings

#### 4.1. Nocoes Basicas

Antes de tudo e importante prestar atencao na diferenca de significado de uma variavel numerica e uma variavel de texto

In [83]:
type(12)

int

In [84]:
type('12')

str

In [85]:
num_string = '20'

In [86]:
num = 20

In [87]:
num_string == num

False

In [88]:
num / 2

10.0

In [89]:
num +10

30

O seguinte comando resultara em erro

In [90]:
num_string/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [91]:
num_string + 5

TypeError: can only concatenate str (not "int") to str

In [92]:
num_string + '5'

'205'

Utilizando float como exemplo

In [93]:
pi = 3.14

In [94]:
pi_str = '3.14'

In [95]:
pi == pi_str

False

In [96]:
type(pi)

float

In [97]:
type(pi_str)

str

#### 4.2. Operacoes de indexacao (indexing) e fatiamento (slicing)

In [98]:
manchete = 'Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [99]:
type(manchete)

str

In [100]:
print(manchete)

Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI

In [101]:
manchete

'Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [102]:
len(manchete)

123

Agora vamos entrar nas operacoes de indexacao. Essas operacoes sao realizadas atraves do uso de colchetes: []

In [103]:
manchete[0]

'I'

In [104]:
manchete[1]

't'

In [106]:
manchete[122]

'I'

O seguinte comando resultara em erro

In [107]:
manchete[123]

IndexError: string index out of range

Tambem e possivel especificar um comeco e um fim para as operacoes de filtro (**slicing**)

Vamos extrair Itau

In [108]:
manchete[0:4]

'Itaú'

In [109]:
manchete[0:3]

'Ita'

Retorne o ticker JBSS3

In [110]:
manchete[34:39]

'JBSS3'

Mannipulacao de strings

Do inicio ate o caracter 5

In [111]:
manchete[:5]

'Itaú '

In [112]:
manchete[:30]

'Itaú BBA corta preço-alvo da J'

In [113]:
manchete[5:]

'BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [114]:
manchete[8:]

' corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [115]:
'BTG' + manchete[8:]

'BTG corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [117]:

manchete[:]

'Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [118]:
manchete[-1]

'I'

In [119]:
manchete[-2]

'B'

A operacao de indexacao (e tambem slicing) tambem pode comecar de tras pra frente.   
Basta utilizar os indices negativos.

In [120]:
manchete[:-1]

'Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BB'

In [121]:
manchete[:-8]

'Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Brad'

In [122]:
manchete[:-12]

'Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do '

In [123]:
manchete[9:-12]

'corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do '

Mais de um sinal de ":"   
Vamos Utiliza-lo para especificar quantos caracteres devemos percorres por intervalo

In [124]:
manchete[0:-12:2]

'Ia B ot rç-lod B JS3  eoed opad ita(IT) acpl PM4  o ikd '

In [125]:
manchete[::1]

'Itaú BBA corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [126]:
manchete[::2]

'Ia B ot rç-lod B JS3  eoed opad ita(IT) acpl PM4  o ikd rdsoBI'

In [127]:
manchete[::-1]

'IBB ocsedarB od kcip pot é )4OMOP( olopocraM ;)3TTIV( aittiV ed arpmoc adnemocer e )3SSBJ( SBJ ad ovla-oçerp atroc ABB úatI'

Resumindo as operacoes de slicing  

sting[a:b:c:]

Uma forma de definirmos as nocoes de string[a:b:c:] seria algo como: Execute um comando de fatiamento da string em intervalos de 'c', a partir de 'a'(incluso) ate 'b'(nao incluso). Se 'c' for negativo, contamos de tras para frente. Quando 'c' nao esta presente no codigo, o padrao e 1 (fatiar de 1 em 1 caracter). Se 'a' nao esta presente, entao voce comeca o mais distante possivel na direcao que voce esta contando (se 'c' e positivo, comeca no primeiro caracter. Se 'c' e negativo, comeca no ultimo caracter). Se 'b' nao esta presente, entao voce termina o mais distante possivel na direcao que esta contando (se'c' e positivo, termina no ultimo caracter. Se 'c' e negativo, termina no primeiro caracter).

#### 4.3. Propriedades das strings

* Imutabilidade
* Adicao
* Modificacao de upper e lower case

In [128]:
manchete[34:39]

'JBSS3'

 O seguinte comando resultara em erro

In [129]:
manchete[34:39] = 'WEGE3'

TypeError: 'str' object does not support item assignment

In [130]:
manchete[9:]

'corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

In [134]:
restodafrase = manchete[9:]

In [135]:
novaempresa = 'Santander'

In [136]:
novaempresa + ' ' + restodafrase

'Santander corta preço-alvo da JBS (JBSS3) e recomenda compra de Vittia (VITT3); Marcopolo (POMO4) é top pick do Bradesco BBI'

O seguinte comando resultara em erro

In [137]:
restodafrase - 'JBSS3'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Vamos ver agora a transformacao em upper case e lower case

In [138]:
frase_completa = novaempresa + ' ' + restodafrase

In [139]:
frase_completa.lower()

'santander corta preço-alvo da jbs (jbss3) e recomenda compra de vittia (vitt3); marcopolo (pomo4) é top pick do bradesco bbi'

In [140]:
frase_completa.upper()

'SANTANDER CORTA PREÇO-ALVO DA JBS (JBSS3) E RECOMENDA COMPRA DE VITTIA (VITT3); MARCOPOLO (POMO4) É TOP PICK DO BRADESCO BBI'

Um operador importante: 'split'

In [141]:
frase_completa.split()

['Santander',
 'corta',
 'preço-alvo',
 'da',
 'JBS',
 '(JBSS3)',
 'e',
 'recomenda',
 'compra',
 'de',
 'Vittia',
 '(VITT3);',
 'Marcopolo',
 '(POMO4)',
 'é',
 'top',
 'pick',
 'do',
 'Bradesco',
 'BBI']

In [142]:
frase_separada = frase_completa.split()

In [143]:
frase_separada[1]

'corta'

In [144]:
frase_completa.split("(")

['Santander corta preço-alvo da JBS ',
 'JBSS3) e recomenda compra de Vittia ',
 'VITT3); Marcopolo ',
 'POMO4) é top pick do Bradesco BBI']

In [145]:
frase_completa.split(" ")

['Santander',
 'corta',
 'preço-alvo',
 'da',
 'JBS',
 '(JBSS3)',
 'e',
 'recomenda',
 'compra',
 'de',
 'Vittia',
 '(VITT3);',
 'Marcopolo',
 '(POMO4)',
 'é',
 'top',
 'pick',
 'do',
 'Bradesco',
 'BBI']